# =========================
# Eclipse Files
# =========================
.metadata/
.project
.classpath
.settings/
bin/
*.launch

# =========================
# Maven / Build
# =========================
target/

# =========================
# Logs
# =========================
logs/
*.log
*.log.gz


# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temp Files
# =========================
*.tmp
*.bak
*.swp
